.dashboard_layout {
  width: 100%;
  height: 100%;
  display: flex;

  .aside_menu {
    width: 20%;
    height: 100%;
    background-color: red;
  }

  .render_view {
    width: 80%;
    height: 100%;
    background-color: purple;
  }
}
