.dashboard_layout {
  width: 100vw;
  height: 100vh;
  display: flex;

  .aside_menu {
    width: 20%;
    height: 100%;
    background-color: var(--bg-sidebar);
    box-shadow: 1px 0px 10px black;
    padding: 1.5vw;

    display: flex;
    flex-direction: column;

    > .logo {
      display: flex;
      align-items: center;

      > img {
        width: 4vw;
        height: 4vw;
      }

      > .title {
        color: var(--text-main);
        font-family: var(--font-bakbak-one);
      }
    }

    > .navigation {
      display: flex;
      flex-direction: column;
      gap: 1vw;

      > .link {
        width: 100%;
        text-decoration: none;

        display: flex;
        align-items: center;
        gap: 1vw;

        padding: 1vw 0.5vw;
        border-radius: 0.8vw;

        transition:
          background-color 0.5s,
          padding 0.5s ease;

        > .icon {
          color: var(--text-muted);
        }

        > .text {
          font-family: var(--font-afacad-flux);
          font-size: 16px;
          color: var(--text-muted);
        }

        &.active {
          background-color: var(--primary);

          > .icon {
            color: var(--text-main);
          }

          > .text {
            font-weight: 600;
            color: var(--text-main);
          }
        }

        &:not(.active) {
          &:hover {
            background-color: var(--primary-hover-unselect);
          }
        }

        &:hover {
          padding-left: 1.5vw;
        }
      }
    }

    > .footer {
      margin-top: auto;
      font-family: var(--font-afacad-flux);

      > .message {
        color: rgb(76, 175, 10);
      }

      > .version {
        font-size: 14px;
        color: var(--text-muted);
      }
    }
  }

  .render_view {
    width: 80%;
    height: 100%;
  }
}
