.page.loading {
  display: flex;
  align-items: center;
  justify-content: center;

  > .container {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8vh;
    color: var(--text-main);
    font-family: var(--font-afacad-flux);

    > .group.head {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;

      > .title {
        font-size: 50px;
        font-weight: 500;
        font-family: var(--font-bakbak-one);

        > span {
          font-weight: 700;
          color: var(--primary);
        }
      }

      > .sub-title {
        font-size: 18px;
      }
    }

    > .group.progress {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;

      > .bar {
        width: 100%;
        height: 1vw;

        background-color: var(--primary);
        border-radius: 1vw;
        margin-bottom: 2vw;
      }

      > .message {
        font-size: 16px;
      }

      > .sub-message {
        font-size: 16px;
        color: var(--text-muted);
        text-align: center;
      }
    }

    > .group.cards {
      width: 100%;
      display: flex;
      justify-content: space-between;
      gap: 10px;

      > .card {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.5vw;

        > .icon {
          width: 3.5vw;
          height: 3.5vw;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 1vw;
          background-color: var(--bg-card);
          transition: background-color 0.5s ease;

          &:hover {
            background-color: var(--bg-card-hover);
          }
        }

        > .text {
          text-align: center;
          font-size: 15px;
          color: var(--text-muted);
        }
      }
    }
  }
}
